.card_header_container { 
    height: 2.5em;
    width: 270px;
    display: flex;

    flex-direction: row;
    border-radius: 0px 10px 0px 10px;
    min-height: 35px;
}

.type_label {
    font-size: xx-small;
    text-transform: uppercase;
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin: 0em -.2em 0em .4em;
    align-self: center;
    writing-mode: vertical-rl;
    text-orientation:sideways;
    rotate: 180deg;
    font-weight: 400;
    color:var(--background);
}

.card_name_container {
    text-shadow: 1px 2px 2px var(--card-darker);
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding: .3em;
}

.sub_name {
    font-size: x-small;
    color:var(--card-darker);
    text-shadow: none;
}

.unique {
    font-size: larger;
    margin-left: -.3em;
    color: var(--card-primary)
}

.mystic_name_container { 
    background-color:  var(--mystic-color);
    background-image: linear-gradient(to right, var(--mystic-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
    
}
.guardian_name_container { 
    background-color:  var(--guardian-color);
    background-image: linear-gradient(to right, var(--guardian-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
    
}
.rogue_name_container { 
    background-color:  var(--rogue-color);
    background-image: linear-gradient(to right, var(--rogue-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
    
}
.seeker_name_container { 
    background-color:  var(--seeker-color);
    background-image: linear-gradient(to right, var(--seeker-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
}


.survivor_name_container { 
    background-color:  var(--survivor-color);
    background-image: linear-gradient(to right, var(--survivor-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
    
}


.weakness_name_container { 
    background-color:  var(--weakness-color);
    background-image: linear-gradient(to right, var(--weakness-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
}


.neutral_name_container { 
    background-color:  var(--neutral-color);
    background-image: linear-gradient(to right, var(--neutral-color)45%, var(--transparent)), var(--img-path);
    background-repeat: no-repeat;
    background-position: right;
    
}